body {
    background-color: #000000;
}

.navbar {
    color: #ffffff;
    background-color: #ffffff00;
    height: 80px;
}

.navbar-brand {
    font-family: 'Mukta', sans-serif;
    font-size: 50px;
    margin-left: 10px;
    display: inline-block;
}

.chile-icon {
    vertical-align: middle;
    margin-bottom: 25px;
    margin-left: 50px;
}
.nav-item {
    float: right;

}

.destacados {
    color: #ffffff;
    text-align: center;
}

.contact {
    color: #ffffff;
    text-align: center;
}

.quienes-somos {
    color: #ffffff;
    text-align: center;
}

.col {
    text-align: justify;
    margin-left: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: small;
    font-weight: lighter;
    color: #ffffff;  
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    size: 20px;
    font-family: 'Mukta', sans-serif;
}

hr {
    color: #ffffff;
}

.mb-3 {
    font-family: 'Mukta', sans-serif;
    color: #ffffff;
}

.formulario {
    height: 800px;
    width: 900px;
    align-items: center;
    margin: 0 auto;
    
}

footer {
    background-color:#03bcdb;
    height: 80px;   
}

footer .brand {
    margin-left: 40px;
    padding-top: 10px;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    height: 60px;   
}

.icons {
    color: #ffffff;
    font-size: 30px;
    margin: 30px;
    float: right; 
}

.btn {
    width: 80px;
    height: 40px;
    margin-left: 20px;
    background-color: #03bcdb;
    }
