body {
    background-color: #000000;
}

.navbar {
    color: #ffffff;
    background-color: #ffffff00;
    height: 80px;
    position: fixed; top: 0%;
    z-index: 10;
    
}
.card {
    margin: 0px auto;
    margin-bottom: 30px;
    
}

.navbar-brand {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    display: inline-block;
}

.chile-icon {
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 50px;
}
.navbar-nav {
    margin-left: 100px;
}

.destacados {
    color: #ffffff;
    text-align: center;
}

.contact {
    color: #ffffff;
    text-align: center;
}

.quienes-somos {
    color: #ffffff;
    text-align: center;
}

@media (max-width: 577px) {
    .information {
      display: none ;
    
    }
}

.col {
    text-align: justify;
    margin-left: 20px;
    font-family: 'Mukta', sans-serif;
    font-size: small;
    font-weight: lighter;
    color: #ffffff;  
}


.card-body {
    color:#ffffff;
    background-color: #03bcdb;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    size: 20px;
    font-family: 'Mukta', sans-serif;
}

hr {
    color: #ffffff;
}

.mb-3 {
    font-family: 'Mukta', sans-serif;
    color: #ffffff;
}

.formulario {
    height: 800px;
    width: 550px;
    align-items: center;
    margin: 0 auto;   
}

.btn {
    width: 80px;
    height: 40px;
    margin-left: 20px;
    background-color: #03bcdb;
    }


footer {
    background-color:#03bcdb;
    height: 80px; 
  
}

footer .brand {
    margin-left: 40px;
    padding-top: 10px;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    height: 60px;   
}


.icons {
    color: #ffffff;
    font-size: 30px;
    margin: 30px;
    text-align: right;  
}

