body {
    background-color: #000000;
}

.navbar {
    color: #ffffff;
    background-color: #ffffff00;
    height: 80px;
    position: fixed; top: 0%;
    z-index: 10;
    
}

.navbar-brand {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    display: inline-block;
}

.chile-icon {
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 50px;
}


.destacados {
    color: #ffffff;
    text-align: center;
}

.contact {
    color: #ffffff;
    text-align: center;
}

.quienes-somos {
    color: #ffffff;
    text-align: center;
}

.container-sm {
    background-color: #03bcdb;
}

.icon-container {
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  color: #ffffff;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.paragraph {
    text-align: justify;
    font-family: 'Mukta', sans-serif;
    font-size: small;
    font-weight: lighter;
    color: #ffffff;  

}


@media (max-width: 768px) {
    .information {
      display: none ;
    
    }
}

.card-body {
    color:#ffffff;
    background-color: #03bcdb;
}
.card {
    margin: 0px auto;
    margin-bottom: 30px;
    
}
h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    size: 20px;
    font-family: 'Mukta', sans-serif;
}

hr {
    color: #ffffff;
}

.mb-3 {
    font-family: 'Mukta', sans-serif;
    color: #ffffff;
}

#form .btn{
    background-color: #03bcdb;
    margin-bottom: 40px;
}

#form {
    margin-right: 20px;
    margin-left: 20px;
}



footer {
    background-color:#03bcdb;
    height: 80px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.brand {
    padding-top: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
   
}


.git-hub {
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30%;
    padding-right: 10px;
    display:inline-block;
   
    
}

.linkedin {
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 10px;
    display:inline-block;
    
}

.twitter {
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 10px;
    display:inline-block;
   
}

.facebook {
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 10%;
    display:inline-block;   
}